.action {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-between;
    background-color: palegoldenrod;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2px;
    position: relative;
}
.action button {
    background-color: transparent;
    border: none;
}